 #search {
    margin: auto;
    width: 400px!important;
    /* align: center; */
    height: 50px;
    padding-left: 50px;
}


.btn2 {
    content: '';
    position: absolute;
    right: 600px;
    top: 18px;
    border: 0; 
    background-color: transparent;
    height: 35px;
    width: 35px;
    background: url(https://baygh.com/images/search-btn.png);
    background-size: cover;
}
.skin{
    background-color: #E5EAF1;
}

.postadd {
    background-color: #fd7e14;
    border-radius: 5px;
    
}

.card img{
    width: 260px;
    height: 290px;
}

.header {
    margin-bottom: 10px;
}

#business-section {
    margin-top: 20px;
}

.f-category i {
    font-size: 50px!important;
    color: #fd7e14;
    align-content: center;
}

#business-section #featured {
    background-color: #F0F0F0;
}

.home-category.row-title {
    margin-top: 20px!important;
    margin-bottom: 0px!important;
    padding-left: 20px;
}

.listingview .items-details h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listingview h2.add-title {
    font-size: 16px;
}

.listingview .item-price {
    color: #F58020;
    font-size: 18px!important;
}

.listingview .date {
    color: #6E6E6E;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 30px;
}

.listingview .add-title {
    padding-left: 0px!important;
    font-weight: 700;
}

.listingview .info-row {
    padding-top: 10px;
}

.listingview .info-row a {
    color: #6E6E6E;
}

.mobile-search-input .search-bar {
    height: 50px;
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid #ddd;
    padding: 0 70px 0 0;
    margin-bottom: 10px;
    position: relative;
    width: 105%;
    border-radius: 10px;
}

.user-panel-sidebar ul li a {
    font-family: "Roboto", Helvetica, Arial, sans-serif!important;
}

#wrapper {
    background-color: #E5EAF1;
}

.main-footer {
    border-top: 2px solid #FF8000;
}

.main-footer ol li,
.main-footer ul li {
    padding: 0px 0 0px 0;
}

.p-price-tag {
    background: #F58020!important;
    font-size: 15px;
}

h4.add-title {
    font-size: 15px;
}

.date {
    float: right!important;
}

.main-container#homepage {
    padding: 0px 0;
}

.user-panel-sidebar h5 {
    font-weight: bold;
}

.visit-eshop a,
.reportPost {
    justify-content: center;
    text-align: center;
}
.reportPost {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.reportPost a {
    font-size:20px;
    padding: 10px;
    justify-content: center;
}
.reportPost .grid-col {
    margin-bottom: 0px!important;
}
.p-price-tag {
    background: #F58020!important;
}
.p-price-tag::before {
    border-top-color: #0094af!important;
}
.btn-warning {
    color: #fff;
    background-color: #F58020!important;
    border-color: F58020!important;
}
@media screen and (max-width: 780px) {
    .mobile-search-input .search-bar {
        height: 50px;
        background-color: rgba(255, 255, 255, .95);
        border: 1px solid #ddd;
        padding: 0 70px 0 0;
        margin-bottom: 10px;
        position: relative;
        width: 80%;
        border-radius: 10px;
    }

    .search-bar {
        margin: 0;
        height: 50px;
        background-color: rgba(255, 255, 255, .95);
        border: 1px solid #ddd;
        padding: 0 70px 0 0;
        position: relative;
        width: 130%;
        border-radius: 6px;
    }

    .general-list .card-body h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .navbar-identity a {
        margin-right: 0px;
    }
}


