
body{

    contain: content;
}



.image{
    background-image: linear-gradient(95.54deg, #6013ab 0.2%, #46008B 38.18%, #1B2095 94.08%);
    height: 500px;
    

}

li{
list-style-type: none;

}

#job{

    height: 19%;

}

#any1{

    width: 250px; 
    height: 40px;

}

#fnd{

    width: 150px; 
    background-color: rgb(34, 34, 206); 
    position: absolute; 
    right: 30px;

}


#jobvac{

    height: 350px;

}

#adv{

    height: 540px;

}




@media only screen and  (max-width:993px){


    .bi-megaphone{
        display: none;


    }

#pop{
    display: none;

}




#job{

height: 68%;
padding-top: 5px;

}

#any1{

    width: 90%; 
    margin-top: 60px;

}

#fnd{

    width: 90%; 
    
}

.image{

height: 120vh;


}

#jobvac{

    height: 170vh;

}

#cad1,#cad2, #cad3{

margin-top: -40px;

}


#adv{

    height: 250vh;

}


#emp{

height: 80vh;

}


#exp{

padding-top: 130px;
text-align: center;

}

#abt a{

display: flex;
padding-left: 185px;

}

.abt1{

display: none;


}

#soc{
text-align: center;


}


.img{

display: block;
margin: auto;
padding-top: 30px;
}




}
















